<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}

        Well, currently there is no help content, and I don't think this site will ever need one.
    </div>
    {{>footer}}
</body>

</html>